<div class="intro">
    <div class="content">
        <div class="title">
            <h1>
                {{me.title}}
            </h1>
        </div>
        <!--<div class="complete" [innerHTML]="me.complete"></div>-->
        <div class="complete">
            Hi,<br>
           <span class="color1"> My name is Shadi Hariri. </span> I am a fullstack developer sepcialized in
            <span class="color2">  PHP (Laravel, Zend) and Angular (v1 and v6) and Ionic</span>. I am open for freelance jobs.<br>
            Have a project in mind?
            <br>
            <span class="color3">    Lets chat at <a style="color: #EB613D" href="mailto:hey@togmeh.com">shadi@togmeh.com</a></span>

        </div>

        <div class="access">
            <a mat-stroked-button color="warn" class="second-button margin-top" href="https://github.com/shadihrr">github</a>
            <a mat-stroked-button color="accent" class="second-button" href="/works">My Works</a>
            <a mat-stroked-button color="accent" class="second-button margin-top" href="https://medium.com/@shadi.hariri68">medium</a>

        </div>
    </div>
</div>